body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
header{
    width: 600px;
    background-color: gainsboro;
    padding: 10px;
    margin: 10px;
}
#assuntos:hover{
    text-decoration: underline;
}
nav{
    background-color: rgb(116, 114, 114);
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.301);

    
}

div#bola{
    height:100px ;
    width: 100px;
    background-color: white;
    margin: 10px;
    border-radius: 100%;

}
nav > a{
    text-decoration: none;
    text-align: center;
    padding: 3px;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 5px;
}
nav > a:hover{
    text-decoration: underline;
    color: rgb(229, 226, 226);
}
main{
    background-color: gainsboro;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
}
article{
    background-color: rgb(192, 189, 189);
    width: auto;
    border-radius: 10px;

}
article > aside{
    background-color: rgb(165, 165, 165);
    text-align: center;
    margin: auto;
    width: fit-content;
}
footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    margin: 0px;
    padding: 4px;
    box-shadow: 1px 1px 1px rgb(44, 43, 43);
}
footer > p{
    margin: 0px;
}